<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{template}">

<head>
    <meta charset="UTF-8">
    <title>Liste des Classes</title>
</head>

<body>
    <div layout:fragment="MyContent">
        <div class="container mt-5">
            <div class="card">
                <div class="card-header">Liste des Classes</div>
                <div class="card-body">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Nom Classe</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr th:each="c : ${classes.content}">
                                <td th:text="${c.idClasse}"></td>
                                <td th:text="${c.nomClasse}"></td>
                                <td>
                                    <a class="btn btn-danger"
                                        th:href="@{supprimerClasse(id=${c.idClasse}, page=${currentPage}, size=${size})}"
                                        onclick="return confirm('Etes-vous sûr ?')">Supprimer</a>
                                    <a class="btn btn-warning"
                                        th:href="@{modifierClasse(id=${c.idClasse})}">Modifier</a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <ul class="nav nav-pills">
                        <li th:each="page,status:${pages}">
                            <a th:class="${status.index==currentPage?'btn btn-primary':'btn'}"
                                th:href="@{ListeClasses(page=${status.index}, size=${size})}" th:text="${status.index}"></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</body>

</html>